<div [ngClass]="{'hideLoading': showUserRepos}">
  <div class="block-loading">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Seus Repositórios no Github!</h2>
    </div>
    <div class="col-4">
      <p class="sair">
        <a href="#" (click)="logout()">Sair</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let repositorio of userRepos">
      <div class="portlet">
        <h4 class="title">{{repositorio.name}}</h4>
        <p>{{repositorio.description}}</p>
        <div [hidden]="!showUserRepos">
          <ul class="list-unstyled">
            <li>
              <i class="icon fork"></i>Forks - {{repositorio.forks_count}}
            </li>
            <li>
              <i class="icon star"></i> Star - {{repositorio.stargazers_count}}
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
